chainlit==1.0.200
langchain
langchain_community
PyPDF2
chromadb
groq
langchain-groq
ollama
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
dataclasses-json
Deprecated
distro
docx
docx2txt
easyocr
faiss-cpu
fastapi
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib_resources
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lazy_loader
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
networkx
ninja
numpy
oauthlib
onnxruntime
openai
opencv-python
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pillow
posthog
protobuf
pulsar-client
pyarrow
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
pydeck
Pygments
PyPika
pyproject_hooks
pyreadline3
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-image
scipy
setuptools
shapely
shellingham
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
tenacity
tifffile
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
typer
typer-cli
typer-slim
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websocket-client
websockets
wrapt
yarl
zipp